@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h1 class="mt-5">My Fitness Journey</h1>
            <p class="lead">I discovered my passion for fitness at a young age, exploring various sports and activities. From soccer to cross country running, basketball to mountain biking, I've always been drawn to the thrill of physical activity.</p>
            <p class="lead">In high school, I challenged myself further by completing several triathlons and delving into exercise practices like CrossFit and weightlifting. This is where my journey toward becoming a fitness enthusiast truly began.</p>
        </div>
        <div class="col-md-6">
            <img src="/img/barbell.jpg" class="img-fluid" alt="Fitness Image 1">
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-md-6">
            <img src="img/eggsandbacon.jpg" class="img-fluid" alt="Fitness Image 2">
        </div>
        <div class="col-md-6">
            <p class="lead">After high school, my curiosity led me to dive deeper into the science of fitness. I devoured books on nutrition and weightlifting, and closely followed respected fitness channels on YouTube.</p>
            <p class="lead">With each passing day, my knowledge and passion for fitness grew stronger. I found joy in creating workout routines for friends and offering advice on nutrition strategies, from macro portions to meal ideas and tracking techniques.</p>
            <p class="lead">Many of my friends have remarked on my ability to motivate and push them beyond their limits in the gym. It's this encouragement and support that fuel my desire to help others achieve their fitness goals.</p>
            <p class="lead">I am confident in my abilities to guide and inspire others on their fitness journey. Whether you're looking to build strength, improve endurance, or enhance your overall well-being, I'm here to help you reach your fullest potential.</p>
            <p class="lead">Thank you for visiting my website. Let's embark on this fitness journey together!</p>
        </div>
    </div>
</div>



@* <div class="container">
        <h1 class="mt-5">My Fitness Journey</h1>
        <p class="lead">I discovered my passion for fitness at a young age, exploring various sports and activities. From soccer to cross country running, basketball to mountain biking, I've always been drawn to the thrill of physical activity.</p>
        <p class="lead">In high school, I challenged myself further by completing several triathlons and delving into exercise practices like CrossFit and weightlifting. This is where my journey toward becoming a fitness enthusiast truly began.</p>
        <p class="lead">After high school, my curiosity led me to dive deeper into the science of fitness. I devoured books on nutrition and weightlifting, and closely followed respected fitness channels on YouTube.</p>
        <p class="lead">With each passing day, my knowledge and passion for fitness grew stronger. I found joy in creating workout routines for friends and offering advice on nutrition strategies, from macro portions to meal ideas and tracking techniques.</p>
        <p class="lead">Many of my friends have remarked on my ability to motivate and push them beyond their limits in the gym. It's this encouragement and support that fuel my desire to help others achieve their fitness goals.</p>
        <p class="lead">I am confident in my abilities to guide and inspire others on their fitness journey. Whether you're looking to build strength, improve endurance, or enhance your overall well-being, I'm here to help you reach your fullest potential.</p>
        <p class="lead">Thank you for visiting my website. Let's embark on this fitness journey together!</p>
    </div> *@

@* <div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div> *@
